p{
  text-align: left;
  color:white;
  font-size:80px;
}
p{
  font-style:Oblique;
}
li a{
   text-align:right;
   color:white;
   text-decoration:none;
   
}
ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
li{
  float:left;
}
li a{
  display:block;
  color:white;
  text-align:center;
  padding:15px 17px;
  font-size:25px;
  
}
li a:hover {
  background-color:grey;
  
}
#background{
   width:400%;
   length:400%;

}

.images{
   top:100px;
   position:relative;
   color:white;
   text-align:center;
}
.images img{

    width:500px;
	height:auto;


}
